@tailwind base;
@tailwind components;
@tailwind utilities;

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

iframe {
  border: none;
}

hr {
  border-top: none;
  border-bottom: 1px solid;
  border-color: #0003;
  margin: 2rem 0;
}
/* 强制将特定的统计数值颜色改为黄色 */
h1, h2, h3, h4, h5, h6,
.stat-value, 
span[class*="text-green"], /* 覆盖可能存在的 Tailwind 绿色类 */
div[class*="text-green"] {
  color: rgb(224, 237, 94) !important;
}
